/* COLORS */
/* GENERAL STYLES */
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Poppins', sans-serif; }

h1 {
  font-weight: 800;
  font-size: 42px;
  margin-bottom: 0; }

h2 {
  font-size: 30px; }

p {
  font-weight: 300;
  font-size: 21px; }

a.btn {
  display: block;
  min-width: 200px;
  padding: 15px;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  font-size: 26px;
  margin: 40px auto;
  max-width: 350px;
  transition-timing-function: ease-in-out;
  transition: .2s;
  position: relative;
  z-index: 1; }
  a.btn:hover {
    transform: translateY(-10px);
    transition: .2s;
    transition-timing-function: ease-in-out;
    box-shadow: 5px 5px white; }
  a.btn.red-btn {
    background-color: #ED583F;
    color: #FAFBFB;
    transition: .2s; }
    a.btn.red-btn:hover, a.btn.red-btn:focus {
      transition: .2s;
      box-shadow: 5px 5px #F4CE6E; }
  a.btn.yellow-btn {
    background-color: #F4CE6E;
    color: #263557; }
    a.btn.yellow-btn:hover, a.btn.yellow-btn:focus {
      transition: .2s;
      box-shadow: 5px 5px #ED583F; }
  a.btn.teal-btn {
    background-color: #22AFBF;
    color: #FAFBFB; }
    a.btn.teal-btn:hover, a.btn.teal-btn:focus {
      transition: .2s;
      box-shadow: 5px 5px #CBC715; }
  a.btn.green-btn {
    background-color: #CBC715;
    color: #263557; }
    a.btn.green-btn:hover, a.btn.green-btn:focus {
      transition: .2s;
      box-shadow: 5px 5px #22AFBF; }
  a.btn.blue-btn {
    background-color: #263557;
    color: #FAFBFB; }
    a.btn.blue-btn:hover, a.btn.blue-btn:focus {
      transition: .2s;
      box-shadow: 5px 5px #F4CE6E; }

.visually-hidden {
  /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* HERO SECTION */
.hero-container {
  position: relative; }

nav {
  padding: 20px; }
  nav .logo {
    height: 100px; }
    @media screen and (max-width: 776px) {
      nav .logo {
        height: 120px;
        display: block;
        margin: 0 auto 30px auto; } }
  nav .navigation-links {
    list-style: none;
    padding: 0;
    text-align: center; }
    nav .navigation-links .nav-link {
      margin-bottom: 10px;
      display: inline-block;
      margin-right: 10px; }
    nav .navigation-links .nav-link:first-child a:after {
      background-color: #F4CE6E;
      transition: .2s; }
    nav .navigation-links .nav-link:nth-child(2) a:after {
      background-color: #22AFBF; }
    nav .navigation-links .nav-link:nth-child(3) a:after {
      background-color: #ED583F; }
    nav .navigation-links .nav-link:nth-child(4) a:after {
      background-color: #CBC715; }
    nav .navigation-links .nav-link:last-child {
      margin-right: 0; }
    nav .navigation-links .nav-link a {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500;
      position: relative;
      font-size: 20px;
      color: #525050;
      transition: .2s;
      margin-right: 10px; }
      nav .navigation-links .nav-link a:hover {
        transition: .35s;
        color: #1e1e1e; }
        @media screen and (max-width: 776px) {
          nav .navigation-links .nav-link a:hover {
            padding-bottom: 10px; } }
        nav .navigation-links .nav-link a:hover:after {
          transition: .2s; }
        @media screen and (min-width: 776px) {
          nav .navigation-links .nav-link a:hover:after {
            width: 145%; } }
      nav .navigation-links .nav-link a:after {
        position: absolute;
        content: '';
        height: 12px;
        width: 120%;
        left: -10%;
        bottom: 1px;
        z-index: -1;
        transition: .2s; }
    nav .navigation-links .nav-link:last-child a {
      margin-right: 0; }

.hero {
  padding: 0 20px; }
  .hero .hero-img .desktop-portrait {
    display: none; }
  .hero .hero-img .mobile-portrait {
    width: 100%; }

/* FOOTER SIGNUP FORM */
footer {
  padding: 40px 40px 100px 40px;
  position: relative;
  min-height: 500px;
  background-color: #263557; }
  footer p {
    color: white; }
  footer a.logo-links {
    padding: 7px 10px 5px 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 23px;
    color: white;
    border: 3px solid white;
    background-color: #ED583F; }

/* CONFETTI DIVIDERS */
.top-confetti-layer, .bottom-confetti-layer {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200px;
  position: absolute;
  width: 100%;
  z-index: 999; }

.top-confetti-layer {
  background-image: url("../imgs/top-confetti.svg");
  bottom: -170px;
  background-position: center; }

.bottom-confetti-layer {
  background-image: url("../imgs/bottom-confetti.svg");
  background-position: 22% center;
  bottom: 0;
  left: 0; }

/* MAIN CONTENT */
main {
  margin-top: 65px;
  padding: 130px 30px 20px 30px;
  background-color: #263557;
  color: white; }

/* CHALLENGES SECTION */
.challenge-info .challenge-imgs {
  text-align: center; }
  .challenge-info .challenge-imgs img {
    width: 150px;
    margin-bottom: 10px; }
    @media screen and (min-width: 776px) {
      .challenge-info .challenge-imgs img {
        width: 350px;
        display: inline-block; } }
  .challenge-info .challenge-imgs img:first-child {
    margin-right: 15px; }

/* BONUS CONTENT */
.bonus-info .playlist-info .playlist-image {
  width: 100%;
  max-width: 500px; }
.bonus-info .playlist-info .playlist-info-content {
  background-color: white;
  color: #263557;
  padding: 20px;
  max-width: 600px; }
  .bonus-info .playlist-info .playlist-info-content p {
    margin-bottom: 15px;
    margin-top: 0; }

/* COURSE ANIMATION */
.course-board .cls-26 {
  stroke-dasharray: 59px;
  stroke-dashoffset: 59px;
  animation: offset 3s forwards infinite ease-out; }
.course-board .flamingo-hand {
  -webkit-transform: translateY(15px);
  -ms-transform: translateY(15px);
  transform: translateY(15px);
  animation: hand 5s infinite; }
.course-board .centering-pink-left {
  animation: centering-left 5s infinite;
  animation-delay: 1s; }
.course-board .centering-pink-right {
  animation: centering-right 5s infinite;
  animation-delay: 1s; }
.course-board .animation-circle-left {
  animation: animate-up 5s infinite; }
.course-board .animation-circle-right {
  animation: animate-down 5s infinite; }
.course-board .cls-14.colors-bar, .course-board .cls-21.colors-bar, .course-board .cls-22.colors-bar, .course-board .cls-15.colors-bar, .course-board .cls-20.colors-bar {
  opacity: 0; }
.course-board .cls-13 {
  fill: white; }
.course-board .cls-14.colors-bar {
  animation: colors 2s infinite backwards; }
.course-board .cls-21.colors-bar {
  animation: colors 3s infinite;
  animation-delay: 1s; }
.course-board .cls-22.colors-bar {
  animation: colors 4s infinite;
  animation-delay: 2s; }
.course-board .cls-15.colors-bar {
  animation: colors 5s infinite;
  animation-delay: 3s; }
.course-board .cls-20.colors-bar {
  animation: colors 6s infinite;
  animation-delay: 4s; }
@keyframes offset {
  to {
    stroke-dashoffset: 10px; } }
@keyframes hand {
  0% {
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px); }
  50% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px); } }
@keyframes centering-left {
  0% {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px); }
  50% {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px); }
  100% {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px); } }
@keyframes centering-right {
  0% {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px); }
  50% {
    -webkit-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    transform: translateX(-15px); }
  100% {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px); } }
@keyframes animate-up {
  0% {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px); }
  50% {
    -webkit-transform: translateY(-36px);
    -ms-transform: translateY(-36px);
    transform: translateY(-36px); }
  100% {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px); } }
@keyframes animate-down {
  0% {
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px); }
  50% {
    -webkit-transform: translateY(36px);
    -ms-transform: translateY(36px);
    transform: translateY(36px); }
  100% {
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px); } }
@keyframes colors {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes float {
  0% {
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); }
  100% {
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

/*# sourceMappingURL=main.css.map */
