$blue: #263557;
$teal: #22AFBF;
$green: #CBC715;
$red: #ED583F;
$yellow: #F4CE6E;
$gray: #D5D5D5; 
$white: #FAFBFB;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $blue;
  color: $white;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

section {
  padding: 40px;
}

h2 {
    font-size: 40px;
    line-height: 1.10;
    text-transform: uppercase;
}

h3 {
  font-size: 30px;
  line-height: 1.15;
}

p {
  font-size: 21px;
  line-height: 1.58;
  @media screen and (max-width: 425px){ 
    font-size: 20px;
  }
}

ul {
  margin: 0;
}


  a.button {
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    width: 100%;
    max-width: 350px;
    margin: auto;
    margin-top: 50px;
    display: block;
    border-radius: 0;
    border: 0;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
    border-radius: 3px;
    &.red-button {
      background-color: $red;
      color: $white;
      &:hover {
        background-color: darken($red, 5%);
      }
    }
    &.yellow-button {
      background-color: $yellow;
      color: $blue;
      &:hover {
        background-color: darken($yellow, 5%);
      }
    }
    &.teal-button {
      background-color: $teal;
      color: $white;
      &:hover {
        background-color: darken($teal, 5%);
      }
    }
    &.blue-button {
      background-color: $blue;
      color: $white;
      &:hover {
        background-color: darken($blue, 5%);
      }
    }
    &.green-button {
      background-color: $green;
      color: $white;
      &:hover {
        background-color: darken($green, 5%);
      }
    }
  }

nav {
  background-color: white;
  background-image: url(../imgs/navigation-bar-red-curve-updated.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 163px;
  padding: 12px 20px 20px 20px;
  background-position: right 0;
  margin-left: -5px;
  margin-bottom: -5px;
  @media screen and (min-width: 500px){
    background-position: right -10px;
  }
  @media screen and (min-width: 1000px){
    background-position: right -33px;
  }
  h1 {
    display: inline-block;
    margin: 0;
    float: left;
    @media screen and (min-width: 425px){
      margin-left: 40px;
    }
   a i {
      height: 100px;
      width: 100px;
      background-image: url('../imgs/website-circle-logo.png');
      background-size: cover;
      background-repeat: no-repeat;
      display: inline-block;
    }   
  }
  .nav-links {
    padding: 0;
    margin: 15px 0;
    display: inline-block;
    float: right;
    li {
      list-style: none;
      display: inline-block;
      margin-right: 8px;
      a {
        text-transform: uppercase;
        text-decoration: none;
        color: $white;
        letter-spacing: 1px;
        font-size: 18px;
        transition: .2s;
        @media screen and (max-width: 425px){
          font-size: 16px;
        }
        &:hover {
          color: $yellow;
          font-weight: bold;
        }
      }
    }
    li:last-child {
      margin-right: 0;
    }
  }
}

.homepage {
  .hero {
    position: relative;
    &:after {
      position: absolute;
      content: '';
      width: 109%;
      left: -3px;
      bottom: -145px;
      height: 164px;
      background-image: url(../imgs/hero-curve-white.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    text-align: center;
    background-color: white;
    color: $blue;
    img {
      width: 100%;
      max-width: 800px;
    }
    .hero-content {
      max-width: 800px;
      margin: auto;
      text-align: left;
      padding: 20px 40px;
    }
  }
  
  .hero-divider {
    min-height: 320px;
    background-image: url('../imgs/hero-divider-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 30%;
  }

  .challenges {
    position: relative;
    z-index: 1;
    &:before {
      position: absolute;
      content: '';
      height: 200px;
      top: -180px;
      left: -3px;
      width: 103%;
      background-image: url(../imgs/challenges-curve-blue.svg);
      background-size: cover;
      background-position: center;
      z-index: -1;
      @media screen and (min-width: 992px){
        top: -114px;
        height: 231px;
      }
    }
    .challenges-content {
      padding: 0 40px;
      max-width: 800px;
      margin: auto;
      .challenges-images {
        text-align: center;
        img {
          max-width: 200px;
          padding: 0 15px;
          @media screen and (max-width: 425px){ 
            max-width: 155px;
          }
        }
      }
    }
  }

  .courses {
    background-color: $white;
    color: $blue;
    .courses-content {
      padding: 20px 40px;
      max-width: 800px;
      margin: auto;
      .courses-images {
        text-align: center;
        margin-bottom: 20px;
        .course-image {
          width: 200px;
          background-color: lightgray;
          border: 1px solid gray;
          height: 100px;
          display: inline-block;
          margin: 10px;
        }
      }
    }
  }
  
  .client-days {
    padding-top: 180px;
    }
    .client-content {
      padding: 20px 40px 40px 40px;
      background-color: $white;
      color: $blue;
      margin: auto;
      max-width: 800px;
      position: relative;
      &:before {
        padding: 0;
        position: absolute;
        content: '';
        width: 100%;
        height: 150px;
        top: -150px;
        left: 0;
        background-image: url( https://s3-us-west-2.amazonaws.com/s.cdpn.io/1546831/client-red-curve.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 15px 60px;
        @media screen and (max-width: 425px){
          background-position: center 60px;
        }
      }
      h2 {
        text-align: center;
      }
      .client-image {
        max-width: 200px;
        border-radius: 50%;
        margin: 0 25px 35px 0;
        float: left;
        @media screen and (max-width: 709px){ 
          float: none;
          margin: auto;
        }
        img {
          width: 100%;
        }
      }
      .client-days-text {
        overflow: hidden;
      }
    }
  
  .bonus {
    text-align: center;
    padding: 40px;
      @media screen and (max-width: 425px){ 
        padding: 20px;
        text-align: left;
      }
    .bonus-content {
      padding: 40px;
      max-width: 800px;
      margin: auto;
      .playlists {
        .playlists-content {
          background-color: $white;
          padding: 20px 0 0 20px;
          text-align: center;
          overflow: hidden;
          @media screen and (max-width: 709px){ 
          padding: 30px;

          }
          .playlist-quote {
            font-size: 18px;
            font-style: italic;
            text-align: center;
            a {
              text-decoration: none;  
              color: $red;
            }
            @media screen and (max-width: 709px){ 
              font-size: 16px;
            }
           }
          .playlist-section {
            svg {
              display: inline-block;
              margin-top: 45px;
              max-width: 200px;
              float: left;
              @media screen and (max-width: 709px){
                float: none;
                margin: auto;
                margin-top: 0;
              }
              .cls-1{isolation:isolate;}
              .cls-2{fill:#7fd1e1;}
              .cls-3{fill:#e4ecae;}
              .cls-11,.cls-12,.cls-3,.cls-4,.cls-5{fill-rule:evenodd;}
              .cls-4,.cls-6,.cls-7,.cls-8{fill:#da847f;}
              .cls-5{fill:#36acbc;}.cls-6{opacity:0.75;}
              .cls-10,.cls-6,.cls-8{mix-blend-mode:multiply;}
              .cls-10,.cls-8{opacity:0.5;}
              .cls-9{fill:#e7b4b1;}
              .cls-10{fill:#382120;}
              .cls-11,.cls-14{fill:#f7dea7;}
              .cls-12{fill:#413c58;}
              .cls-13{fill:#f4944d;}
              .cls-15{fill:#443f5c;}
              .cls-16{fill:#938bb7;}
              .cls-17{fill:#5b547c;}
              .cls-18{fill:#796fa7;}
              .cls-7{stroke: #da847f;}
            }
          }
            p {
              color: $blue;
              display: inline-block;
              max-width: 330px;
              text-align: left;
              @media screen and (max-width: 709px){ 
                  max-width: 400px;
              }
            }
        }
      }
      .button {
        margin-top: 50px;
      }
    }
  }
  
  .skills {
    background-color: white;
    text-align: center;
    position: relative;
    color: $blue;

    .skills-content {
      padding: 40px;
      margin: auto;
      img {
        width: 100%;
        max-width: 600px;
      }
    }
  }
}

//Privacy Page

.terms {
  background-color: white;
  color: $blue;
}

//About Page

nav.about-nav {
  background-color: $blue;
}

.about-content {
  text-align: center;
  h1 {
    text-transform: uppercase;
  }
  p {
    max-width: 600px;
    margin: 0 auto 40px auto;
  }
  .about-profiles {
  text-align: center;
  .profile {
    // color: $blue;
    // background-color: white;
    padding: 20px;
    text-align: center;
    display: inline-block;
    width: 300px;
    vertical-align: top;
    border-radius: 5px;
    margin-left: 2%;
    margin-bottom: 40px;
    min-height: 410px;
    .profile-img-container {
      margin: auto;
      img {
        height: 200px;
      }
    }
    h2 {
      margin-bottom: 0px;
      font-size: 28px;
    }
    p {
      margin-bottom: 15px;

    }
  }
  .profile-icons {
      i {
        color: $blue;
        transition: .5s;
        font-size: 20px;
        padding: 8px;
        border-radius: 50%;
      }
    }
  .brittany-profile {
    .profile-icons {
      i {
          background-color: $teal;
          &:hover {
            background-color: darken($teal, 10%);
          }
      }
    }
  }
  .rebecca-profile {
      i {
          background-color: #DD8680;
          &:hover {
            background-color: darken(#DD8680, 10%);
          }
      }
  }
  .devon-profile {
      i {
          background-color: $yellow;
          &:hover {
            background-color: darken($yellow, 10%);
          }
      }
  }
}
}

.course-content {
    // text-align: center;
  h1 {
    text-transform: uppercase;
    text-align: center;
  }
  p {
    max-width: 600px;
    margin: 0 auto 40px auto;
    // text-align: center;
  }
  h2 {
      text-align: center;
  }
  .course-list {
    color: $blue;
    background-color: $white;
    padding: 40px;
    margin: auto;
    max-width: 1000px;
    .course-section {
      width: 300px;
      display: inline-block;
      vertical-align: top;
      text-align: left;
    }
    .course-section-last {
      display: inline-block;
      vertical-align: top;
      text-align: left;
      width: 300px;
    }
  }
  ul {
    list-style: none;
    padding: 0;
  }
}

.clients, .client-challenges {
  max-width: 800px;
  margin: auto;
}
.clients {
  text-align: center;
  .client {
    display: inline-block;
    max-width: 250px;
    vertical-align: top;
    margin: 10px;
  }
  h4 {
    margin-top: 5px;
  }
  p {
    margin-top: 0;
    margin-bottom: 5px;
  }
  img {
    max-width: 200px;
  }
}

.signup {
  padding: 150px 0;
  color: $blue;
  text-align: center;
  position: relative;
  .signup-content {
    max-width: 800px;
    background-color: white;
    padding: 40px;
    margin: auto;
    position: relative;
      &:before {
    content: '';
    position: absolute;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1546831/green-curve.svg');
    width: 90%;
    height: 121px;
    left: 5%;
    background-repeat: no-repeat;
    top: -50px;
    z-index: -1;
    background-size: contain;
    @media screen and (max-width: 425px){
      top: -30px;
    }
  }
  }
}

footer {
  background-color: $white;
  color: $blue;
  padding: 20px;
  .content {
    text-align: center;
    p, span, a {
      font-size: 18px;
      text-decoration: none;
      color: $blue;
      display: inline-block;
      margin-bottom: 0;
    }
    span {
      margin: 0 5px;
    }
    a:hover {
      color: $red;
    }
  }
  .footer-social {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 5px;
      i {
        color: $blue;
        transition: .5s;
        font-size: 30px;
        &:hover {
          color: $red;
        }
      }
    }
  }
}

.music-1 {
  animation: rotate-right-3 2s infinite;
}

.music-2 {
  animation: rotate-left-2 2.5s infinite;
}

.music-3 {
  animation: rotate-left 1.5s infinite;
}

.music-4 {
  animation: rotate-left-1 1.5s infinite;
}

.music-5 {
  animation: rotate-right-3 2.5s infinite;
}

@keyframes rotate-left-1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotate-right {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotate-left-2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotate-left-3 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotate-right-3 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 425px){
  section {
    padding: 15px;
  }
  .hero-content, .challenges-content, .courses-content, .client-client, .bonus-content {
    padding: 10px !important;
  }
}
        .cls-26 { 
          stroke-dasharray: 59px; stroke-dashoffset: 59px; animation: offset 3s forwards infinite ease-out;
        }
        .flamingo-hand {
          -webkit-transform: translateY(15px);
          -ms-transform: translateY(15px);
            transform: translateY(15px);
            animation: hand 5s infinite;
          }
        @keyframes offset { to { stroke-dashoffset: 10px;} }
        @keyframes hand {
        0%   {-webkit-transform: translateY(15px);
        -ms-transform: translateY(15px);
        transform: translateY(15px);}
        50% {
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
        }
        100% {-webkit-transform: translateY(15px);
        -ms-transform: translateY(15px);
        transform: translateY(15px);}
        }

.centering-pink-left {
    animation: centering-left 5s infinite;
    animation-delay: 1s;
}

.centering-pink-right {
    animation: centering-right 5s infinite;
    animation-delay: 1s;
}
@keyframes centering-left {
    0%   {-webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);}
            50% {
            -webkit-transform: translateX(15px);
        -ms-transform: translateX(15px);
            transform: translateX(15px);
            }
    100% {-webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);}
}

@keyframes centering-right {
    0%   {-webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);}
            50% {
            -webkit-transform: translateX(-15px);
        -ms-transform: translateX(-15px);
            transform: translateX(-15px);
            }
    100% {-webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);}
}

.animation-circle-left {
    animation: animate-up 5s infinite;
}

.animation-circle-right {
    animation: animate-down 5s infinite;
}

@keyframes animate-up {
    0%   {-webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);}
            50% {
            -webkit-transform: translateY(-36px);
        -ms-transform: translateY(-36px);
            transform: translateY(-36px);
            }
    100% {-webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);}
}

@keyframes animate-down {
    0%   {-webkit-transform: translateY(2px);
        -ms-transform: translateY(2px);
            transform: translateY(2px);}
            50% {
            -webkit-transform: translateY(36px);
        -ms-transform: translateY(36px);
            transform: translateY(36px);
            }
    100% {-webkit-transform: translateY(2px);
        -ms-transform: translateY(2px);
            transform: translateY(2px);}
}

.cls-14.colors-bar, .cls-21.colors-bar, .cls-22.colors-bar, .cls-15.colors-bar, .cls-20.colors-bar {
    opacity: 0;
}
      .cls-13 { 
    fill: transparent;
   stroke: #f0efef;
        stroke-width: 3;}

.cls-14.colors-bar {
animation: colors 2s infinite backwards;
}

.cls-21.colors-bar {
animation: colors 3s infinite;
    animation-delay: 1s;
}

.cls-22.colors-bar {
animation: colors 4s infinite;
    animation-delay: 2s;
}

.cls-15.colors-bar {
animation: colors 5s infinite;
    animation-delay: 3s;
}

.cls-20.colors-bar {
animation: colors 6s infinite;
    animation-delay: 4s;
}

@keyframes colors {
    0%   {opacity: 0}
            100% {
            opacity: 1;
            }
}