/* COLORS */

$blue: #263557;
$teal: #22AFBF;
$green: #CBC715;
$red: #ED583F;
$yellow: #F4CE6E;
$gray: #D5D5D5; 
$white: #FAFBFB;
$black: #525050;


/* GENERAL STYLES */

* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 42px;
  margin-bottom: 0;
}

h2 {
  font-size: 30px;
}

p {
  font-weight: 300;
  font-size: 21px;
}

a.btn {
  display: block;
  min-width: 200px;
  margin: auto;
  padding: 15px;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  font-size: 26px;
  &.red-btn {
    background-color: $red;
    color: $white;
  }
  &.yellow-btn {
    background-color: $yellow;
    color: $blue;
  }
  &.teal-btn {
    background-color: $teal;
    color: $white;
  }
  &.green-btn {
    background-color: $green;
    color: $blue;
  }  
  &.blue-btn {
    background-color: $blue;
    color: $white;
  }
}


/* HERO SECTION */

.hero-container {
  // padding: 20px;
  position: relative;
}

// Navigation
nav {
  padding: 20px;
  .logo {
    height: 100px;
    @media screen and (max-width: 776px){ 
      height: 120px;
      display: block;
      margin: 0 auto 30px auto;
    }
  }
  .navigation-links {
    list-style: none;
    padding: 0;
    text-align: center;
    .nav-link {
      margin-bottom: 10px;
      display: inline-block;
      margin-right: 10px;
    }
    .nav-link:first-child a:after {
      background-color: $yellow;
      transition: .2s;
    }
    .nav-link:nth-child(2) a:after {
      background-color: $teal;
    }
    .nav-link:nth-child(3) a:after {
      background-color: $red;
    }
    .nav-link:nth-child(4) a:after {
      background-color: $green;
    }
    .nav-link:last-child {
      margin-right: 0;
    }
    .nav-link a {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500;
      position: relative;
      font-size: 20px;
      color: $black;
      transition: .2s;
      margin-right: 10px;
      &:hover {
        transition: .35s;
        color: darken($black, 20%);
        @media screen and (max-width: 776px){
          padding-bottom: 10px;
        }
        &:after {
          transition: .2s;
        }
        @media screen and (min-width: 776px){
           &:after {
            width: 145%;
          }      
        }       
      }
      &:after {
        position: absolute;
        content: '';
        height: 12px;
        width: 120%;
        left: -10%;
        bottom: 1px;
        z-index: -1;
        transition: .2s;        
      }
    }
    .nav-link:last-child a {
      margin-right: 0;
    }
  }
}

// Hero

.hero {
  padding: 0 20px;
  .hero-img {
    .desktop-portrait {
      display: none;
    }
  }
}

/* CONFETTI DIVIDERS */

.top-confetti-layer, .bottom-confetti-layer {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200px;
  position: absolute;
  width: 100%;
  z-index: 999;
}

.top-confetti-layer {
  background-image: url('../imgs/top-confetti.svg');
    bottom: -170px;
    background-position: center;
}

.bottom-confetti-layer {
  background-image: url('../imgs/bottom-confetti.svg');
  background-size: cover;
}

/* MAIN CONTENT */

main {
  margin-top: 65px;
  padding: 130px 20px 20px 20px;
  background-color: $blue;
  color: white;
}

// main {
//   background-color: #273656;
//   color: white;
//   padding: 20px;
// }

// p {
//   font-weight: 400;
// }

// h2 {
//   font-weight: 600;
// }

// nav, .hero {
//   vertical-align: top;
// }

// nav {
//   float: left;
//   display: inline-block;
//   @media screen and (min-width: 425px){
//     width: 130px;
//   }
// }

// .hero-container {
//   position: relative;
//   @media screen and (min-width: 425px){
//     padding: 40px;
//   }
 
// }

// .hero {
//    position: relative;
//   min-height: 100vh;
//   z-index: -1;
//   @media screen and (min-width: 667px){
//     width: 75%;
//     display: inline-block;
//     padding-top: 50px;
//     float: right;
//   }
//   // max-width: 600px;
//   // display: inline-block;
// }


// @media screen and (max-width: 667px){
//   .desktop-portrait {
//     display: none;
//   }
// }

// @media screen and (min-width: 667px){
//   .mobile-portrait {
//     display: none;
//   }
// }

// .hero-img img {
//   width: 100%;
// }





// @media screen and (max-width: 425px){
//   .navigation-links {
//     display: inline-block;
//   }
//   .navigation-links li {
//     display: inline-block;
//   }
// }

// main {
//   clear: both;
// }

// footer {
//   position: relative;
// }
