/* ==============================
   VARIABLES, MIXINS, ETC 
   ============================== */

$blue: #263557;
$teal: #22AFBF;
$green: #CBC715;
$red: #ED583F;
$yellow: #F4CE6E;
$gray: #D5D5D5; 
$white: #FAFBFB;
$black: #525050;
$purple: #8C83A0;
$tan: #F9E1A9;
$light-blue: #E5EFED;

%easeanimation {
     transition: all 0.2s ease-in-out !important;
     -moz-transition: all 0.2s ease-in-out !important;
     -webkit-transition: all 0.2s ease-in-out !important;
     -o-transition: all 0.2s ease-in-out !important;
}


/* ==============================
   GENERAL GLOBAL STYLES
   ============================== */

* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 0;
  @media screen and (max-width: 425px){
    font-size: 41px;
  }
}

h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

p {
  font-weight: 300;
  font-size: 21px;
  margin-top: 0;
}

.main {
  margin-top: 65px;
  padding: 130px 30px 20px 30px;
}

.visually-hidden { /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.two-third-grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  grid-column-gap: 50px;
}

.half-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.two-third-grid-container, .half-grid-container {
  @media screen and (max-width: 992px){
    grid-template-columns: 1fr;
  }
}

@media all and (-ms-high-contrast:none) { 
  .two-third-grid-container, .half-grid-container {
    @media screen and (max-width: 992px){
      -ms-grid-template-columns: 2fr 1fr;
    }
  }
}

@media all and (-ms-high-contrast:none) {
  .two-third-grid {
    display: -ms-grid;
    -ms-grid-columns: 2fr 1fr;
    -ms-grid-rows: 1fr;
    -ms-align-items: center;
    -ms-grid-column-gap: 20px;
  }
  .half-grid-container {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
  }
}

/* ------------------  
    BUTTONS
   ------------------ */

a.btn {
  display: block;
  width: 100%;
  padding: 15px;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  font-size: 21px;
  margin: 40px auto;
  max-width: 350px;
  transition-timing-function: ease-in-out;
  transition: .2s;
  position: relative;
  z-index: 1;
  max-height: 61px;
  &:hover {
    transform: translateY(-10px);
    transition: .2s;
    transition-timing-function: ease-in-out;
    box-shadow: 5px 5px white;
  }
  &.red-btn {
    background-color: $red;
    color: $white;
    transition: .2s;
    &:hover, &:focus, &:active {
      transition: .2s;
      box-shadow: 5px 5px $yellow;

    }
  }
  &.yellow-btn {
    background-color: $yellow;
    color: $blue;
    &:hover, &:focus, &:active {
      transition: .2s;
      box-shadow: 5px 5px $blue;
    }    
  }
  &.teal-btn {
    background-color: $teal;
    color: $white;
    &:hover, &:focus, &:active {
      transition: .2s;
      box-shadow: 5px 5px $green;
    }    
  }
  &.green-btn {
    background-color: $green;
    color: $blue;
    &:hover, &:focus, &:active {
      transition: .2s;
      box-shadow: 5px 5px $teal;
    }    
  }  
  &.blue-btn {
    background-color: $blue;
    color: $white;
    &:hover, &:focus, &:active {
      transition: .2s;
      box-shadow: 5px 5px $yellow;
    }  
  }
}

/* ------------------  
  CONFETTI DIVIDERS
  ------------------ */

.top-confetti-layer {
  background-size: contain;
  background-repeat: repeat-x;
  min-height: 200px;
  position: absolute;
  width: 100%;
  z-index: 999;
  background-image: url('../imgs/other/top-confetti.svg');
  bottom: -170px;
  background-position: center;
  @media screen and (min-width: 667px){
    bottom: -200px;
    background-position: top;
    min-height: 300px;
  }
  @media screen and (max-width: 425px){
    background-size: cover;
  }
}

.half-confetti-layer {
  position: relative;
  height: 200px;
  @media screen and (max-width: 662px){
    // overflow: hidden;
  }
  img {
    max-width: 500px;
    position: absolute;
    @media screen and (max-width: 662px){
      max-width: 100%;
    }
  }
}

.right-confetti {
  img {
    right: -30px;
  }
}

.left-confetti {
  img {
    left: -30px;
  }
}

/* ------------------  
    NAVIGATION
   ------------------ */

nav {
  padding: 20px;
  z-index: 9999;
  @media screen and (min-width: 992px){
    display: inline-block;
    width: 185px;
    position: absolute;
    left: 20px;
    top: -30px;
  }
  .logo {
    height: 200px;
    border-radius: 50%;
    border: 3px solid white;
    @media screen and (max-width: 991px){ 
      height: 120px;
      display: block;
      margin: 0 auto 30px auto;
    }
    @media screen and (min-width: 992px){
      width: 100%;
      height: auto;
    }
  }
  .navigation-links {
    list-style: none;
    padding: 5px;
    text-align: center;
    @media screen and (min-width: 992px){
      text-align: left;
      margin-left: 30px;
    }
    .nav-link {
      margin-bottom: 20px;
      display: inline-block;
      margin-right: 10px;
    }
    .nav-link:first-child a:after {
      background-color: $teal;
      transition: .2s;
    }
    .nav-link:nth-child(2) a:after {
      background-color: $yellow;
    }
    .nav-link:nth-child(3) a:after {
      background-color: $green;
    }
    .nav-link:nth-child(4) a:after {
      background-color: $red;
    }
    .nav-link:last-child {
      margin-right: 0;
    }
    .nav-link a {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500;
      position: relative;
      font-size: 20px;
      color: $black;
      transition: .2s;
      margin-right: 10px;
      &:hover {
        transition: .35s;
        color: darken($black, 20%);
        @media screen and (max-width: 776px){
          padding-bottom: 10px;
        }
        &:after {
          transition: .2s;
        }
        @media screen and (min-width: 776px){
           &:after {
            width: 145%;
          }      
        }       
      }
      &:after {
        position: absolute;
        content: '';
        height: 12px;
        width: 120%;
        left: -10%;
        bottom: 1px;
        z-index: -1;
        transition: .2s;        
      }
    }
    .nav-link:last-child a {
      margin-right: 0;
    }
  }
}   

/* ------------------  
    HERO
   ------------------ */

.hero-container {
  position: relative;
  padding-bottom: 50px;
  @media screen and (min-width: 425px){
    margin-top: 50px;
  }
  .hero {
    padding: 0 30px;
    @media screen and (min-width: 992px){
      padding: 100px 40px 100px 100px;
      position: relative;
      max-width: 1200px;
      margin: auto;
    }
    .hero-content {
      text-align: center;
      padding: 50px 20px;
      @media screen and (min-width: 667px){
        max-width: 540px;
      }
      @media screen and (max-width: 992px){
        margin: auto;
      }
      @media screen and (min-width: 992px){
        margin-left: 100px;
      }
      @media (min-width: 992px) and (max-width: 1100px){
        max-width: 440px;
      }
      h1 {
        color: white;
        font-size: 60px;
        font-weight: 400;
        line-height: 83px;
        text-transform: uppercase;
        margin: 0;
        span {
          font-weight: 800;
          font-size: 100px;
        }
      }
    }
    .hero-img {
      img {
        width: 100%;
        max-width: 540px;
        display: block;
        margin: auto;
      }
      @media screen and (min-width: 992px){
        max-width: 450px;
        position: absolute;
        right: 50px;
        top: 0;
      }
      @media (min-width: 992px) and (max-width: 1100px){
        max-width: 375px;
        top: 50px;
      }
    }
  }
}

/* ------------------  
    COURSE BOARD
   ------------------ */

  .course-board {
    .cls-26 { 
      stroke-dasharray: 59px; stroke-dashoffset: 59px; animation: offset 3s forwards infinite ease-out;
    }
    .flamingo-hand {
      -webkit-transform: translateY(15px);
      -ms-transform: translateY(15px);
        transform: translateY(15px);
        animation: hand 5s infinite;
    }

    .centering-pink-left {
        animation: centering-left 5s infinite;
        animation-delay: 1s;
    }

    .centering-pink-right {
        animation: centering-right 5s infinite;
        animation-delay: 1s;
    }

    .animation-circle-left {
        animation: animate-up 5s infinite;
    }

    .animation-circle-right {
        animation: animate-down 5s infinite;
    }

    .cls-14.colors-bar, .cls-21.colors-bar, .cls-22.colors-bar, .cls-15.colors-bar, .cls-20.colors-bar {
        opacity: 0;
    }
    .cls-13 { 
      fill: white;
    }

    .cls-14.colors-bar {
    animation: colors 2s infinite backwards;
    }

    .cls-21.colors-bar {
    animation: colors 3s infinite;
        animation-delay: 1s;
    }

    .cls-22.colors-bar {
    animation: colors 4s infinite;
        animation-delay: 2s;
    }

    .cls-15.colors-bar {
    animation: colors 5s infinite;
        animation-delay: 3s;
    }

    .cls-20.colors-bar {
    animation: colors 6s infinite;
        animation-delay: 4s;
    }

    @keyframes offset { to { stroke-dashoffset: 10px;} }
    @keyframes hand {
    0%   {-webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px);}
    50% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    }
    100% {-webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px);}
    }

    @keyframes centering-left {
    0%   {-webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);}
            50% {
            -webkit-transform: translateX(15px);
        -ms-transform: translateX(15px);
            transform: translateX(15px);
            }
    100% {-webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);}
    }

    @keyframes centering-right {
    0%   {-webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);}
            50% {
            -webkit-transform: translateX(-15px);
        -ms-transform: translateX(-15px);
            transform: translateX(-15px);
            }
    100% {-webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);}
    }

    @keyframes animate-up {
    0%   {-webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);}
            50% {
            -webkit-transform: translateY(-36px);
        -ms-transform: translateY(-36px);
            transform: translateY(-36px);
            }
    100% {-webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);}
    }

    @keyframes animate-down {
    0%   {-webkit-transform: translateY(2px);
        -ms-transform: translateY(2px);
            transform: translateY(2px);}
            50% {
            -webkit-transform: translateY(36px);
        -ms-transform: translateY(36px);
            transform: translateY(36px);
            }
    100% {-webkit-transform: translateY(2px);
        -ms-transform: translateY(2px);
            transform: translateY(2px);}
    }

    @keyframes colors {
      0% {
        opacity: 0}
      100% {
        opacity: 1;
      }
    }
    @keyframes float {
      0% {
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0); 
       transform: translateY(0); 
      }
      50% {
        -ms-transform: translateY(-5px);
      -webkit-transform: translateY(-5px); 
       transform: translateY(-5px);   
      }
       100% {
       -ms-transform: translateY(0px);
       -webkit-transform: translateY(0px); 
       transform: translateY(0px);   
      }
    }

  }

/* ------------------  
    FOOTER
   ------------------ */
footer {
  padding: 40px;
  position: relative;
  @media screen and (max-width: 662px){
    padding: 0px;
  }
  .footer-container {
    .footer-form {
      background-color: white;
      padding: 20px 30px;
      @media screen and (max-width: 662px){
        padding: 20px;
      }
    }
    .footer-links {
      padding: 40px 0;
      text-align: center;
      .logo-links {
        border-radius: 50%;
        height: 60px;
        width: 60px;
        display: inline-block;
        font-size: 30px;
        color: white;
        border: 3px solid white;
        transition: .2s;
        margin-right: 15px;
        &:hover {
          transition: .2s;
          transform: translateY(-10px);
        }
      }
      .logo-links:first-child {
        background-color: $red;
        padding: 7px 10px 10px 13px;
      }
      .logo-links:nth-child(2) {
        background-color: $teal;
        padding: 7px 11px 7px 13px;
      }
      .logo-links:nth-child(3) {
        background-color: $green;
        margin-right: 0;
        padding: 7px 14px 10px 13px;
      }
    }
    .footer-legal-links {
      text-align: center;
      a {
        color: white;
        &:hover {
          color: $yellow;
        }
      }
    }
  }
}

/* ==============================
   ------------------------------
    HOMEPAGE
   ------------------------------
   ============================== */

body.home-page {

  .logo {
    &:hover {
      border-color: $teal;
    }
  }
  
  .hero-content {
      background-color: $teal;
  }

  .main {
      background-color: $blue;
      color: white;
  }

  .intro-text {
    
  }
 
  .challenge-info {
    .challenge-imgs {
      text-align: center;
      .challenge-img {
        width: 150px;
        margin-bottom: 10px;
        z-index: 1;
        position: relative;
        display: inline-block;
        @extend %easeanimation;
        @media screen and (min-width: 662px){
          width: 250px;
          display: inline-block;
        }
        &:after {
          position: absolute;
          content: '';
          height: 150px;
          width: 150px;
          z-index: -1;
          @extend %easeanimation;
          @media screen and (max-width: 662px){
            height: 100px;
            width: 100px;
          }
        }
        &:hover {
          &:after {
            @extend %easeanimation;
          }
        }
      }
      .challenge-img:first-child{
        &:after {
          background-color: $red;
          top: -20px;
          left: -20px;
          @media screen and (max-width: 662px){ 
            top: -10px;
          }
        }
        &:hover {
          &:after {
            top: -30px;
          }
        }
      }
      .challenge-img:nth-child(2){
        &:after {
          background-color: $green;
          top: -20px;
          right: -28px;
          @media screen and (max-width: 662px){ 
            top: -10px;
          }
        }
        &:hover {
          &:after {
            top: -10px;
          }
        }
      }
      .challenge-img:nth-child(3){
        &:after {
          background-color: $teal;
          bottom: -20px;
          right: -20px;
          @media screen and (max-width: 662px){ 
            bottom: -10px;
          }
        }
        &:hover {
          &:after {
            bottom: -10px;
          }
        }
      }
      .challenge-img:not(last-child){
        margin-right: 50px;
      }
      img {
        width: 100%;
      }
    }
  }

  .course-info {
    max-width: 1000px;
    margin: auto;
    padding: 40px;
    .course-img {
      background-color: $light-blue;
      padding: 20px;
      position: relative;
      margin-bottom: 70px;
      &:after {
        position: absolute;
        content: '';
        width: 90%;
        height: 50px;
        right: -32px;
        bottom: -27px;
        background-color: $yellow;
      }
      &:before {
        position: absolute;
        content: '';
        width: 28px;
        height: 105%;
        right: -16px;
        top: 16px;
        background-color: $red;
      }
    }
    @media screen and (max-width: 662px){
      padding: 0;
      .course-img {
        &:after {
          height: 30px;
          bottom: -14px;
        }
      }
      .course-content {
        padding: 0 20px 20px 20px;
      }
    }
  }

  .client-image-container {
    z-index: 2;
    position: relative;
    margin-bottom: 50px;
    max-width: 300px;
    width: 100%;
    img {
      width: 100%;
    }
    &:before, &:after {
      position: absolute;
      content: '';
    }
    &:before {
      background-color: $green;
      height: 379px;
      width: 80px;
      top: -5%;
      right: 29%;
      z-index: -1;
      transform: rotate(45deg);
      @media screen and (min-width: 992px){
        height: 416px;
        right: 32%;
      }
    }
    &:after {
      background-color: $teal;
      height: 268px;
      width: 100px;
      top: 19%;
      z-index: -2;
      @media screen and (min-width: 992px){
        height: 286px;
      }
    }
    @media screen and (min-width: 768px){
      margin: auto;
    }
  }

  .bonus-info {
    .playlist-info {
      text-align: center;
      .playlist-image {
        width: 100%;
        max-width: 500px;
        @media screen and (min-width: 992px){
          margin-top: -50px;
        }
      }
    }
  }

  .intro-text, .challenge-info, .client-info, .bonus-info, .footer-container {
    max-width: 1000px;
    margin: auto;
    padding: 40px;
    @media screen and (max-width: 662px){
      padding: 20px;
    }
  }

  .challenge-content, .course-content {
    max-width: 700px;
    margin: auto;
  }
 
  footer {
    background-color: $blue;
    .footer-container {
      .footer-links {
        .logo-links {
          color: white;
          border: 3px solid white;
        }
      }
      .footer-legal-links {
        text-align: center;
        a {
          color: white;
          &:hover {
            color: $yellow;
          }
        }
      }
      .footer-form {
        max-width: 700px;
        margin: auto;
        position: relative;
        img {
          position: absolute;
          bottom: 0;
          left: 15px;
          height: 350px;
        }
        .footer-form-content {
          margin-left: 230px;
          max-width: 500px;
          a {
            margin: 40px 0;
          }
          h2 {
            color: $blue;
            margin-top: 20px;
            margin-bottom: 0;
          }
        }
        @media screen and (max-width: 662px){
            img {
              position: relative;
              display: block;
              margin: auto;
              height: 300px;
              left: 0;
              margin-top: -100px;
            }
            .footer-form-content {
              margin-left: 0;
              text-align: center;
            }
        }
      }
    }
  }

}


/* ==============================
   ------------------------------
    COURSE PAGE
   ------------------------------
   ============================== */

 body.course-page {

  .logo {
    &:hover {
      border-color: $yellow;
    }
  }

  .hero-content {
      background-color: $yellow;
  }

  .main {
    background-color: $blue;
    color: $white;
  }

  .course-section {
    h3 {
      font-size: 30px;
      margin-bottom: 10px;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        display: inline-block;
        position: relative;
        margin: 7px;
        font-size: 21px;
        padding-left: 10px;

        &:before {
          content: "*";
          position: absolute;
          top: 4px;
          left: -10px;  
          color: $yellow;  
        }
        &:first-child {
          &:after {
            content: '';
          }
        }
        li:last-child {
          margin-right: 0;
        }
        li:first-child {
          margin-left: 0;
        }
      }
      li:nth-child(2n){
        &:before {
          color: $red;
        }
      } 
      li:nth-child(4n){
        &:before {
          color: $teal;
        }
      }       
    }
  }  
  .clients {
    margin: auto;
    text-align: center;
    .client {
      width: 100%;
      max-width: 350px;
      display: inline-block;
      text-align: center;
      margin: 0 auto 50px auto;
      @media screen and (min-width: 425px){
        margin: 0 10px 50px 10px;
      }
      vertical-align: top;
      .mascot-client-image {
        width: 150px;
      }
      .mascot-rep-image {
        width: 100%;
        background-color: red;
      }
      .client-personality {
        padding: 50px 15px 40px 15px;
        margin-top: -70px;
        color: $blue;
        h3 {
          font-size: 21px;
          margin-bottom: 0;
        }
        p {
          margin-top: 0;
        }
        ul {
          padding: 0;
          margin: auto;
          display: inline-block;
          li {
            text-align: left;
            font-size: 18px;
            display: inline-block;
            position: relative;
            margin: 5px;
            border: 3px solid white;
            padding: 5px 10px;
            color: $blue;
          }
          li.negative-trait {
          }
        }
      }
      &.fox-client {
        .client-personality {
          background-color: $tan;
        }
      }
      &.bunny-client {
        .client-personality {
          background-color: $purple;
        }
      }
      &.cat-client {
        .client-personality {
          background-color: $green;
        }
      }
      &.bulldog-client {
        .client-personality {
          background-color: $red;
        }
      }
      &.flamingo-client {
        .client-personality {
          background-color: $teal;
        }
      }
    }
  }

  footer {
    .footer-container {
      .footer-links {
        .logo-links {
          color: white;
          border: 3px solid white;
        }
      }
      .footer-legal-links {
        text-align: center;
        a {
          color: white;
          &:hover {
            color: $yellow;
          }
        }
      }
    }
  }

 }


/* ==============================
   ------------------------------
    ABOUT PAGE
   ------------------------------
   ============================== */

body.about-page {

  .logo {
    &:hover {
      border-color: $red;
    }
  }

  .hero-container {

    .hero {
      display: flex;
      justify-content: center;

      @media screen and (max-width: 992px){
        margin-bottom: 50px;
      }

      .hero-content-container {
        
        .hero-content {
            background-color: $red;
            max-width: 60%;
            
            p {
              max-width: 95%;
            }

            @media screen and (min-width: 992px){
              margin-left: 80px;
            }

            @media screen and (max-width: 992px){
              max-width: 540px;
            }
        }
      
        .hero-img {
          margin-top: 80px;
          max-width: 30%;
          max-height: 320px;
          background-color: $gray;
          // @media (min-width: 662px) and (max-width: 1100px){
          //   max-width: 375px;
          // }
  
          img {
            width: 70%;
            display: block;
            margin: auto;
            padding: 15px;
          }

          @media screen and (max-width: 1100px){
            margin-top: 40px;
          }

          @media screen and (max-width: 992px){
            max-width: 540px;
            margin: auto;
            margin-top: -15px;

            img {
              max-width: 50%;
              max-height: 40%;
              display: block;
              margin: 15px auto;
            }
          }
          
        }
      }
    }    
  }


  .main {
    background-color: $light-blue;
    color: $blue;
  }

  footer {
    background-color: $light-blue;
    .footer-container {
      .footer-links {
        .logo-links {
          color: white;
          border: 3px solid $blue;
        }
      }
      .footer-legal-links {
        text-align: center;
        a {
          color: $blue;
          &:hover {
            color: $yellow;
          }
        }
      }
    }
  }

}

/* ==============================
   ------------------------------
    INSIGHTS PAGE
   ------------------------------
   ============================== */

   body.insights-page {

    .logo {
      &:hover {
        border-color: $green;
      }
    }

    .hero-content {
      background-color: $green;
    }

    .main {
      background-color: $light-blue;
    }

    footer {
      background-color: $light-blue;
      .footer-container {
        .footer-links {
          .logo-links {
            color: white;
            border: 3px solid $blue;
          }
        }
        .footer-legal-links {
          text-align: center;
          a {
            color: $blue;
            &:hover {
              color: $yellow;
            }
          }
        }
      }
    } 

   }